{% include base_path %}
{%- assign ui = site.data.ui-text[page.lang] | default: site.data.ui-text[site.default_lang] -%}

{% if site.author.github or site.author.bitbucket or site.atom_feed.hide != true %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if ui.follow_label %}
      <li><strong>{{ ui.follow_label }}</strong></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="https://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
    {% if site.atom_feed.hide != true %}
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ ui.feed_label | default: "Feed" }}</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{%- if page.lang == "en" -%}
  {%- assign updated_label = "Last updated" -%}
{%- elsif page.lang == "fr" -%}
  {%- assign updated_label = "Dernière mise à jour" -%}
{%- else -%}
  {%- assign updated_label = "Última actualización" -%}
{%- endif -%}
<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} &middot; {{ updated_label }}: {{ "now" | date: '%Y-%m-%d' }}
</div>
